body{
    min-font-size: 22px;
}

.title{
    font-family: 'Arizonia', cursive;
    font-size: 3rem;
}

.title:hover{
    color: midnightblue;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Proza Libre', sans-serif;
}

p{
    font-family: 'Cormorant Garamond', serif;
}

.heading{
    min-font-size: 40px;
    font-size: 2.5rem;
}

.subheading{
    min-font-size: 22px;
    font-size: 1.5rem;
}

.home-row{
    padding: 5% 0;
}

.mobile{
    display: none;
}
.desktop-tablet{
    display: block;
}

@media (max-width: 768px) {
    .heading{
        padding-top: 5%;
        text-align: center;
    }
    .summary-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .subheading{
        text-align: center;
    }
    .profile-image{
        max-width: 200px;
    }
    .mobile{
        display: block;
    }
    .desktop-tablet{
        display: none;
    }
}

/*Summary*/
.summary-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-image{
    width: 80%;
    border-radius: 100%;
}